@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        height:600px;
        background-image: url(../image/Index.jpg);
        background-repeat: no-repeat; /* 平铺 */
        background-size: cover; /* 图片大小自适应 */
    }
</style>
<div class="jumbotron">
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>更多商品等你选购</h2>
        <p>
            More products await your selection.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>你值得拥有</h2>
        <p>You deserve to have it.</p>
        
    </div>
    <div class="col-md-4">
        <h2>因为你很优秀宝贝！</h2>
        <p>Because you are excellent my baby.</p>
       
    </div>
</div>